h1 {
  color: indigo;
}

p {
  color: MediumBlue ;
}
body {
  background-color: LightSteelBlue ;
}

li:hover {
  background-color: MediumSlateBlue ;
}

.link {
  font-weight:bold;
}

.link:hover {
  background-color:dodgerblue;
}

h1 {
  color: purple ;
  border-style: solid;
  background-color: dodgerblue;
  border-width: 1px;
  border-color: indigo;

}

img {
  border-style: solid;
  border-color: purple;
  border-width: 2px;
}

  h1 {
    text-align: center;
  }

#headshot {
    text-align: center;
  }

#headshot {
  cursor:not-allowed;
}

body {
  font-family: "Georgia", Georgia, serif
}
