button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  display: block;
  margin: 1rem;
}

input {
  border-radius: 15px;
}

input[type=text] {
  border: 2px solid dodgerblue;
}

input[type=text]:focus {
  background-color: dodgerblue;
}


fieldset input {
  display: inline;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox label {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-top: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.checkbox label:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

h1 {
  color: white;
  font-family: 'Major Mono Display', monospace;
  text-align: center;
}

body {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #6D67B5;
  color: #202020;
}

header {
  width: 100%;
  border: 2rem;
  padding: 1rem;
  background-color: #330066;
  border-width: 1px;
  border-color: #6D67B5;
  text-align: center;
}

.container {
  height: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

img {
  border-style: solid;
  border-color: white;
  border-width: 2px;
  margin-top:10px;
  margin-bottom: 10px;
}

.icon {
  color:white;
}

footer {
  text-align: center;
}

p:nth-child(2) {
  background-color: dodgerblue;
}

li:nth-child(even) {
  font-weight:700;
  font-style:italic;
}

a {
  text-decoration: none;
  font-weight:bold;
  color: white;
  font-size:150%;
}

a:visited {
  color: dodgerblue;
  text-decoration:none;
}

a:hover {
  text-decoration: none;
  color:dodgerblue;
  background-color: mediumslateblue;
  transition-property:all;
  transition-duration:2s;
}
