h1 {
  color: white;
  font-family: 'Major Mono Display', monospace;
  text-align: center;
}

body {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #6D67B5;
  color: #202020;
}

.link {
  font-weight:bold;
  color: white;
  font-size:150%;
}

.link:hover {
  background-color:MediumSlateBlue;
}

header {
  width: 100%;
  border: 2rem;
  padding: 1rem;
  background-color: #330066;
  border-width: 1px;
  border-color: #6D67B5;
  text-align: center;
}

.container {
  height: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

img {
  border-style: solid;
  border-color: white;
  border-width: 2px;
  margin-top:10px;
  margin-bottom: 10px;
}

footer {
  text-align: center;
}
